{% extends 'articles/base.html'%}
{% block content%}
    {% load static %}
    <nav class="navbar navbar-light bg-dark justify-content-center"  style="border: 5px solid black;">
        <form method="post" action=" {% url 'homePage'%}">
            {% csrf_token %}
                <button class = "button" style="background-color: Transparent;background-repeat:no-repeat;    border: none;
"> <img src="{% static 'charity/images/back-button.png'%}" style="width: 50px; height:50px"> </button>
                </form>
                    <p style = "color:black;font-size: 25px"> {{title}} </p>

    </nav>
    <div  class="container-fluid"style="height:750px; border:5px solid green">
            <div class = "column-md-12 col-lg-12" style = "border:5px solid red;;position:relative;height:50% ">
                <div  style="border:5px solid yellow; height:100%">
                    <img src=" {% static 'articles/images/ocean-image.jpg'%}"  alt="Responsive image" style="height:100%; width:100%">
                </div>
            </div>
            <div class = "column-md-12 col-lg-12" style = "border:5px solid blue;height:50% ;position:relative">
                <div style="overflow-y:scroll;height:100%;border:5px solid green">
                    <p>{{words}}</p>
                </div>
            </div>

    </div>
{%endblock%}
