<html>
    <head>
            <title>Impact Website</title>
            <link rel="stylesheet" href= '{{cssFile}}'>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-light bg-dark justify-content-center">
            <span class="navbar-brand mb-0 h1">Charity App Website</span>
        </nav>
        <br>
        <!--Start of the 'Phone Screen'-->
        <div class="container-fluid" style="max-width:500px; min-height: 820px;border:5px solid black; position:relative;">
            <!-- Phone Screen View-->
            {%block content%}
            <!--Screen Info shown here-->
            {%endblock%}
        </div>
        {% load static %}
        <form style="position: relative;;bottom:0; text-align:center; display:inline-block;" method="post" action="{% url 'homePage' %}">
            {% csrf_token %}
            <button  type="submit"  style="background:Transparent; background-repeat:no-repeat;border: none;"><img style="max-height:50px;max-width:50px;" src = "{% static 'homePage/images/home.png' %}" alt = "home Icon">
            </button>
            <input type="hidden" name = "title" value = "Funds">
            </form>
            <form style="position: relative;;bottom:0; text-align:center; display:inline-block;" method="post" action="{% url 'info-view' %}">
                {% csrf_token %}
            <button  type="submit" style="background:Transparent; background-repeat:no-repeat;border: none;"><img style="max-height:50px;max-width:50px;" src = "{% static 'homePage/images/magnifying-glass.png' %}" alt = " search Icon">
            </button>
            <input type="hidden" name = "title" value = "Company Info">
            </form>
            <form style="position: relative;;bottom:0; text-align:center; display:inline-block;" method="post" action="{% url 'news-view' %}">
                {% csrf_token %}
            <button  type="submit" style="background:Transparent; background-repeat:no-repeat;border: none;"><img style="max-height:50px;max-width:50px;" src = "{% static 'homePage/images/open-book.png' %}" alt = " open-book Icon">
            </button>
            <input type="hidden" name = "title" value = "News">
            </form>
            <form style="position: relative;;bottom:0; text-align:center; display:inline-block;" method="post" action="{% url 'settings-view' %}">
                {% csrf_token %}
            <button  type="submit" style="background:Transparent; background-repeat:no-repeat;border: none;"><img  style="max-height:50px;max-width:50px;"src = "{% static 'homePage/images/settings.png' %}" alt = " settings Icon">
            </button>
            <input type="hidden" name = "title" value = "Settings">
        </form>
<!-- As a heading -->
    </body>
</html>
