{% extends 'articles/base.html'%}
    {%block content%}
            <!-- Start of scrollView-->
            {% load static %}
            <nav class="navbar navbar-light bg-dark justify-content-center"  style="border: 5px solid black">
            <span class="navbar-brand mb-0 h1">Funds</span>
            </nav>
            <div  class = "d-flex align-items-center flex-column bd-highlight mb-3"style="overflow-y:scroll; height:750px; border:5px solid green">
                <div  class = "p-2 bd-highlight"style="width:350px; height:250px; border: 5px solid grey">
                    <form method="post" action="{% url 'charityview'%}">
                        {% csrf_token %}
                        <input type="hidden" name = "title" value = "Ocean">
                        <input type="hidden" name = "fund" value = "fundOneURL">
                    <button class = "button" type="submit"style = "border:5px solid purple; width:325px; height:220px; background-size:cover; border-radius:20%;"> <img src="{% static "articles/images/ocean-image.jpg" %}" alt="My image" width = "300px" height="200px" style=" background-size:cover; border-radius:15%;border: 4px solid black">
                    </button>
                </form>
                </div>
                <br>   <!-- Make sure to have 2 breaks to seperate buttons-->
                <br>
                <div  class = "p-2 bd-highlight"style="width:350px; height:250px; border: 5px solid grey">
                    <form method="post" action="{% url 'charityview'%}">
                        {% csrf_token %}
                        <input type="hidden" name = "title" value = "Trees">
                        <input type="hidden" name = "fund" value = "fundTwoURL">
                    <button class = "button" type="submit" style = "border:5px solid purple; width:325px; height:220px; background-size:cover; border-radius:20%;"> <img src="{% static "articles/images/trees-image.jpg" %}" alt="My image" width = "300px" height="200px" style=" background-size:cover; border-radius:15%;border: 4px solid black">
                </button>
            </form>
            </div>
            <br>
            <br>

                <div  class = "p-2 bd-highlight"style="width:350px; height:250px; border: 5px solid grey">
                    <form method="post" action="{% url 'charityview'%}">
                        {% csrf_token %}
                        <input type="hidden" name = "title" value = "Hunger">
                        <input type="hidden" name = "fund" value = "fundThreeURL">
                    <button class = "button" type="submit"style = "border:5px solid purple; width:325px; height:220px; background-size:cover; border-radius:20%;"> <img src="{% static "articles/images/hunger-image.jpg" %}" alt="My image" width = "300px" height="200px" style=" background-size:cover; border-radius:15%;border: 4px solid black">
                    </button>
                </form>
                </div>
                <br>   <!-- Make sure to have 2 breaks to seperate buttons-->
                <br>
                <div  class = "p-2 bd-highlight"style="width:350px; height:250px; border: 5px solid grey">
                    <form method="post" action="{% url 'charityview'%}">
                        {% csrf_token %}
                        <input type="hidden" name = "title" value = "Global Warming">
                        <input type="hidden" name = "fund" value = "fundFourURL">
                    <button class = "button" type="submit"style = "border:5px solid purple; width:325px; height:220px; background-size:cover; border-radius:20%;"> <img src="{% static "articles/images/greenhouse-image.jpg" %}" alt="My image" width = "300px" height="200px" style="background-size:cover; border-radius:15%;border: 4px solid black">
                </button>
            </form>
            </div>

            </div>
            {%endblock%}
